<div class="header">
    <mat-toolbar>
    <h1><img class="logoimg" src="../../assets/imagens/logo.app.png"></h1>
    <span>Clinica Medica</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/" color="primary">Listagem</a>
    <a mat-button routerLink="/cadastro" color="primary">Cadastro</a>   
  </mat-toolbar>
<div>