
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
#img{
   height: 300px;
   width: 50%;
}

.example-full-width {
  width: 100%;
}
#color {
  background-color: 255 255 255 / 4%;

}
.mat-form-field-flex{

  background-color: black;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 140px;
}
.formPrinci {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
.cop{
  border-color : #4d1414;
  font-size: 13px;
  margin: 20px 0 0;
}
.form{
  background: rgb(198, 217, 226);
}
