<app-scm-header></app-scm-header>
<img id="img" src="../../assets/imagens/imagemclinica.jpeg">
<div class="form">
<form class="formPrinci" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Clinica Medica</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Dados Pessoais</mat-label>
    <input matInput disabled value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Nome Completo</mat-label>
    <input matInput formControlName="nmCompleto" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Data de Nascimento </mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dtNascimento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
  <div class="example-container">
    <mat-form-field>
      <mat-label>CPF *</mat-label>
      <input matInput #input  formControlName="idCpf" maxlength="11" minlength="11" >
    </mat-form-field>
  
    <mat-form-field >
      <mat-label>RG *</mat-label>
      <input matInput #input  formControlName="idRg" type="text">
    </mat-form-field>
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Endereço</mat-label>
    <input matInput disabled value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Endereço *</mat-label>
    <textarea matInput formControlName="idEndereco"></textarea>
  </mat-form-field>
  <div class="example-container">
    <mat-form-field>
      <mat-label>Cidade *</mat-label>
      <input matInput #input  formControlName="dsCidade">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Estado *</mat-label>
      <input matInput #input  formControlName="dsEstado">
    </mat-form-field>
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Dados Clinicos</mat-label>
    <input matInput disabled value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Sintomas...</mat-label>
    <textarea matInput formControlName="dsSintomas"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Especialidade *</mat-label>
    <mat-select formControlName="dsEspecialidade">
      <mat-option value="A" *ngFor="let item of especialidade" [value]="item">
        {{item}}
    </mat-option>
    </mat-select>
    </mat-form-field>

  <button type="submit" mat-flat-button color="primary" (click)="onSubmit()">Enviar</button>
</form>
</div>
<div>

</div>
<footer>
  <p class="cop">&copy; copyright Clinica Medica -2020</p>
</footer>
