<app-scm-header></app-scm-header>
<div class="itens" fxLayout="row wrap" fxLayoutAlign="center">
  <div
    class="item"
    *ngFor="let client of clients$ | async as clients"
    fxFlex="100"
    fxFlex.gt-xs="50"
    fxFlex.gt-sm="33"
    fxFlex.gt-md="25"
    fxFlex.gt-lg="20"
  >
   
      <div class="header" fxLayout="row" fxLayoutAlign=" center">
        <strong>Nome Paciente: </strong><br>
       <p>{{ client.nmCompleto }}</p>
      </div>
      <div class="conteudo" fxLayout="row" fxLayoutAlign=" center">
     
        <strong>Especialidade: </strong>
        <p>{{ client.dsEspecialidade }}</p>
      </div>  
     <div class="btn">
        <button mat-raised-button color="primary" (click)="onEdit(client.id)">Atulizar</button>
        <button
        mat-raised-button color="primary"
        (click)="delete()"
        >
  
         Excluir
        </button>
     </div>
    </div>
  </div>

