.item:hover{
  border: 3px solid;
  border-color: rgb(0, 0, 0);
}
.item{
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 5px 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 10px; 
  background: rgb(175, 175, 175);
  
}
.item:hover p{
  font-size: 20px;
}
.itens{
  margin: 12px auto;
  color: black;
}
.paciente{
  font-size: 15px;
  
}
.conteudo{
 font-size: 15px;
 padding: 20px;

}
button:hover {
  background: #000000;
  
}
.header{
  padding: 10px;
  padding-left: 20px;
  background: #6b6b6b;
  border-radius: 10px; 
}
.btn{
  position: relative;
  align-items: center;

}
button{
  margin-right: 5px;
}